@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import "tailwindcss";


@theme {
  --font-bitcount: "Bitcount Grid Double", "sans-serif"; 
  --font-roboto: "Roboto Flex", "sans-serif"; 

  --color-primary: #F2BFA4; /* Example primary color */
  --color-secondary: #F5E7DE; /* Example secondary color */

  

}