@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import "tailwindcss";

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: rgb(107 78 35) !important; /* example brown */
  transition: background-color 5000s ease-in-out 0s;
}



@theme {
  --font-bitcount: "Bitcount Grid Double", "sans-serif"; 
  --font-roboto: "Roboto Flex", "sans-serif"; 

  --color-primary: #F2BFA4; /* Example primary color */
  --color-secondary: #F5E7DE;
  --color-font-primary: #7B3F00   ;  /* dark font for text*/
  --color-font-secondary: #AF8B66  ;   /* light font for text*/

  

}